body{
    background-color:rgb(214, 214, 214);
}
* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}



/* Nav Bar */

li {
    list-style: none;
}
.logoA{
    color: #022f7e;
}
a {
    text-decoration: none;
    color: #1e024a;
    font-size: 1rem;
}

a:hover {
    color: #022f7e;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: rgb(255, 255, 255);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.navbar .menu {
    color: #041ea3;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .highlight {
    display: block;
    margin-left: 0;
    margin-right: 1rem;
}

.highlight {
    background-color: rgb(1, 90, 72);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.highlight:hover {
    transform: scale(1.05);
    color: #fffbfb;
}

.highlight:active {
    transform: scale(0.95);
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    width: 250px;
    height: 0;
    background-color: #e0e3e7;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .highlight {
    width: 80%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open {
    height: 325px;
    width: 100%;
    max-width: 100%;
    left: 0; 
    right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: transparent;
}

#disqus_thread{
    
width: 100%;
background-color: #fff;
border-radius: 15px;
box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);


}

.status__updater{
    display: flex;
    margin-top: 30px;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 60%;
}

.status__updater h2 {
    text-align: center;
    color: black;
}
.PrincipalTexto{
    color: rgb(62, 2, 153);
    text-align: center;
    font-size: 18px;
    
}




/* Nav Bar Ends */

/* Responsive */

@media (max-width: 992px) {
    .navbar .nav ul {
        display: none;
        
    }
    
    .navbar .menu {
        display: flex;
    }
    
    .navbar .menu i {
        display: inline-block;
    }
    
    .navbar .highlight {
        display: none;
    }
    
    .dropdown-menu {
        display: block;
    }
    
    .dropdown-menu .highlight {
        display: block;
        margin-top: 1rem;
    }
}